.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h1 {
  text-align: center;
  padding: 2rem;
  font-size: 4rem;
  color: goldenrod;
}
button {
  background: yellowgreen;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 2rem;
  align-self: center;
  color: white;
}
